<div class="da-content-banner">
  <d-breadcrumb>
    <d-breadcrumb-item
      ><a routerLink="/">
        Home
      </a></d-breadcrumb-item
    >
    <d-breadcrumb-item>
      Getting Started
    </d-breadcrumb-item>
    <d-breadcrumb-item>
      Sample Page
    </d-breadcrumb-item>
  </d-breadcrumb>
  <div class="da-content-banner-title">
    Sample Page
  </div>
  <div>
    This is just a sample page for you to build your own Admin.
  </div>
</div>
<div class="da-content-wrapper">
  <da-layout-row [daGutter]="[24, 24]">
    <da-col-item [daSpan]="24" [daXs]="24">
      <div class="da-content-card">
        <p>
          Congradulations. You have build DevUI Admin successfully. For
          more information, you can visit: <a href="https://devui.design/admin-page/docs" target="_blank">DevUI Admin Official Document</a>
        </p>
      </div>
    </da-col-item>
  </da-layout-row>
</div>
